
<div class="flexslider">
  <ul class="slides">
    <li><%= image_tag("home/01") %></li>
    <li><%= image_tag("home/02") %></li>
    <li><%= image_tag("home/03") %></li>
  </ul>
</div>

<script type="text/javascript">
	$('.flexslider').flexslider({
    animation: "slide"
  });
</script>
